<div class="p-5">
    <div class="row">

        <div class="col-lg-6" align="center">
            <p>
                <a class="btn btn-squared-default btn-info" [routerLink]="['/calendar']" routerLinkActive="router-link-active" >
                    <i class="fas fa-clinic-medical fa-5x"></i>
                    <br />
                    Espace Médecin
                </a>
            </p>
        </div>
        <div class="col-lg-6" align="center">
            <p>
                <a href="#" class="btn btn-squared-default btn-danger" [routerLink]="['/appointment']" routerLinkActive="router-link-active" >
                    <i class="fas fa-user-alt fa-5x"></i>
                    <br />
                    Espace Patient
                </a>
            </p>
        </div>
    </div>
    
</div>