<div class="container-fluid" id="body-container-fluid">
  <div class="container">
    <!---- for body container ---->
      
      
      <div class="jumbotron">
      <h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-2x"></i> 4</h1>
      <h1 class="display-3">ERROR</h1>
      <p class="lower-case">Aw !! page Web non trouvée s'il vous plaît essayer d'actualiser</p>
      <p class="lower-case">Peut-être que la page est en cours de maintenance</p>
      

      
      </div>
      
       <!-------mother container middle class------------------->
       

  </div>
</div>